# Python
__pycache__/
*.pyc

# Environment files
.env

# Logs
*.log

# macOS
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# IDE (optional)
.vscode/
.idea/
